/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 déc. 2013, 23:58:59
    Author     : Cryptaro
*/

body {
    margin: auto;
}
#entete{
    font-family: serif;
    color: aliceblue;
    position: fixed;
    top:0px;
    height:40px;
    width:100%;
    background:url(images/stork_bg.png) repeat;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: central;
}
#menuLogEntete a {
    text-decoration: none;
    color: inherit;
}
#entete form{
    width: 100%;
    position: fixed;
    text-align: center;
    margin-top: 5px;
    height: 30px;
}
#entete form input{
    text-decoration: none;
    margin: 0px;
    border: inherit;
}
#enteteRechercheChamp{
    width : 180px;
    height: 90%;
}
#enteteRechercheButton{
    border: inherit;
    background-image: url(images/twitter_web_sprite_icons.png);
    background-repeat: no-repeat;
    background-position: -20px -710px;
    width: 12px;
    height: 14px;
}
.ensembleRecherche{
    display: inline-block;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    height: 100%;
}

#messagesEntete{
    border: inherit;
    background-image: url(images/twitter_web_sprite_icons.png);
    background-repeat: no-repeat;
    background-position: -0px -643px;
    width: 23px;
    height: 16px;
    text-align: right;
    margin-top: 8px;
    right: 65px;
    position: fixed;
}

#deconnexionEntete{
    border: inherit;
    background-image: url(images/deconnexion.png);
    background-repeat: no-repeat;
    text-align: right;
    width: 33px;
    height: 33px;
    background-size: 80%;
    margin-top: 5px;
    right: 10px;
    position: fixed;
}
#login{
    padding-right: 80px;
    display: inline-block;
}
#menuLogEntete, #connexionEntente, #deconnexionEntete {
    right: 20px;
    font-size: 25px;
    text-align: right;
    position: fixed;
}


.content {
    padding: 20px;
    height: 80%;
}

#connexion label, #inscription label{
    visibility: hidden;
    display: none;
}

#connexion form, #inscription form{
    width: 100%;
    text-align: center;
}
#connexion h1, #inscription h1{
    width: 100%;
    text-align: center;
    font-size: 50px; 
}

#connexion input, #inscription input{
    width: 200px; 
}

.bouton {
    color: white;
    box-shadow: 0px 1px 0px rgb(255, 255, 255);
    background-color: rgb(2, 113, 191);
    background-repeat: repeat-x;
    background-image: linear-gradient(rgb(45, 153, 220), rgb(2, 60, 110));
    border-color: rgb(9, 110, 179);
}

.bouton:hover {
    background-image: linear-gradient(rgb(45, 153, 220), rgb(2, 113, 190));
}

.utilisateurEntity_Info {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.utilisateurEntity{
    
}

#conversationView {
    width: 100%;
    text-align: center;
    height: 80%;

}
#conversationList{
    width:20%;
    height:80%;
    display: inline-block;
    float:left;
    overflow-x:hidden;
}

#messageInConversationListGlobal{
    width: 60%;
    float:left;
}
#messageInConversationList, #messageInConversationListGlobal{
    height: 100%;
    display: inline-block;
}
#messagesInConversation_empty, #conversationTitle_empty {
    max-width : 80%;
    text-align: center;
    border: none;
    display: inline-block;
    margin-top: 20px;
}
#messageInConversationList, #conversationList{ 
    overflow-y: auto;
    border  : 1px solid black;
    height: 100%;
}
#messageInConversationList, #newMsg, #ajoutParticipants{
    width : 100%;
}
.conversationTitle, .conversationTitle_selected{
    width :90%;
    display: inline-block;
    text-align: left;
    padding-left: 5px;
}
.conversationTitle{
    border : 1px solid black;
}
.conversationTitle_selected{
    background-color: rgba(255,255,255,0);
    border : 2px solid blue;
}

.messagesInConversation , .messagesInConversation_owner{
    border  : 1px solid black;
    max-width: 90%;
    overflow-y: hidden;
    border-radius: 10px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 80%;
}

.global_messagesInConversation_owner{
    text-align: right;  
}

.global_messagesInConversation{
    text-align: left;  
}

.messagesInConversation_owner {
    text-align: right;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 13%, rgba(199,199,199,1) 87%, rgba(199,199,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7', GradientType=0 );
    
}
.messagesInConversation {
    text-align: left;
    background: linear-gradient(to bottom, rgba(224,241,252,1) 0%, rgba(192,227,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f1fc', endColorstr='#c0e3fa', GradientType=0 );
}

#basMessage {
    width:100%;
}

ul, li{
    list-style-type: none;
    padding: 0px;
}

div.comment, .newComment{
    display: inline-block;
    margin: 2px;
    position: relative;
    width: 600px;    
    padding : 0;
    
}
.comment{
    background-color	: rgba(200,200,230,0.4);
    border		: 1px solid #000;
    overflow		: hidden;
}
div.messageOwner{
    display: inline-block;
    margin:2px;
    width: 200 px;
    position:relative
}
div.messageMsg{
    display: inline-block;
    width: 200 px;
    position:relative
}
.conversationAffiche{
    border	: 1px solid #000;
    padding: 10px;
    width : 50%;
    margin-bottom: 5px;
}

#mur{
    width: 100%;

}


textarea { 
    resize: none; 
}
input, span{
    margin: 2px;
}
.cache{
    visibility: hidden;
}